@{
    ViewData["Title"] = "Home Page";

}

<div class="text-center">
    <table style="width: 100%; height: 40vh; background-color: #f0f8ff;">
        <tr>
            <td style="text-align: center; vertical-align: middle;">
                <h5 class="display-5">Welcome To YAST (Yet Another Simple Translator)</h4>
                <h6 class="display-6">This is a simple translator that translates text from English to French.</h6>
                <p>Click on the "<a href="/Translation/Translate">Translate</a>" link in the navigation bar to get started.</p>
            </td>
        </tr>
    </table>
</div>
